@media(max-width: 768px){
    .banner-section{
        padding:0px 0px;
    }
    .banner-content h1{
        font-size: 20px;
    }
    .banner-content h2{
        font-size: 30px;
    }
    .banner-content p{
        font-size: 20px;
    }
    .menu-bar{
        display: none;
    }
    .featured-col-1, .featured-col-2, .featured-col-3, .featured-col-4, .featured-col-5, .featured-col-6{
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-top: 30px;
    }
    .featured h3{
        font-size: 30px;
    }
    .sample li a{
        font-size: 20px;
    }
    .education h3{
        font-size: 30px;
    }
    .edu-col3 h3, .edu-col4 h3{
    font-size: 20px;
    }
    .edu-col1, .edu-col2, .edu-col5, .edu-col6, .edu-col7, .edu-col8{
        flex-basis: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .about-row{
        display: inline-flex;
    }
        .about-col1, .about-col2{
        flex-basis: 40%;

        }
        .about-col1 img{
        width:300px;
        margin-bottom: 30px;
        }
        .about-col2 h3{
            font-size: 25px;
        }
        .about-col2 p{
            font-size: 15px;
        }
        .testimonial {
            padding: 0px 50px 0px 50px;
            margin: 0px 0px;
        }
        .testimonial h3{
            font-size: 25px;
        }
        .testimonial-row1, .testimonial-row2{
            flex-wrap: wrap;
        }
        .testimonial-col1, .testimonial-col2, .testimonial-col3, .testimonial-col4{
            flex-basis: 40%;
            margin-top: 20px;
        }
        .testimonialmini-col2, .testimonialmini-col4, .testimonialmini-col6, .testimonialmini-col8{
            font-size: 15px;
        }
        .testimonialmini-col2 blockquote{
            font-size: 15px;
        }
        .services h3{
            font-size: 25px;
        }
        .services-row{
            flex-wrap: wrap;
        }
        .service-col1, .service-col2, .service-col3{
            flex-basis: 100%;
            margin-top: 20px;
        }
        .blog{
            padding: 0px 0px;
            margin: 0px 0px;
        }
        .blog-row{
            flex-wrap: wrap;
            padding: 0px 0px;
        }
        .blog-col-1, .blog-col-2, .blog-col-3{
            flex-basis: 100%;
    }
    .contact{
        padding: 20px 20px;
    }
    .contact h3{
        font-size: 25px;
    }
    .contact-row{
        flex-wrap: wrap;
        display: 100%;
        padding:0px 0px;
    }
    .contact-col1, .contact-col2{
        flex-basis: 100%;
        margin-left: 0px;
        font-size: 15px;
        margin-top: 30px;
    }
    .contact form{
    margin: 0px 0px;
    padding: 0px 0px;
}
footer{
    margin: 0px 0px;
    padding: 0px 30px 60px 30px;
}
footer p{
    font-size: 10px;
}
.social-icon a {
    background: #585858;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #bac964;
    text-decoration: none;
    font-size: 15px;
    margin: 20px 10px 0px 10px;
}
}

@media(max-width: 575px){
    .banner-section{
        padding:0px 0px;
    }
    .banner-content h1{
        font-size: 20px;
    }
    .banner-content h2{
        font-size: 30px;
    }
    .banner-content p{
        font-size: 20px;
    }
    .menu-bar{
        display: none;
    }
    .featured-col-1, .featured-col-2, .featured-col-3, .featured-col-4, .featured-col-5, .featured-col-6{
        flex-wrap: wrap;
        flex-basis: 100%;
        margin-top: 30px;
    }
    .featured h3{
        font-size: 30px;
    }
    .sample li a{
        font-size: 20px;
    }
    .education h3{
        font-size: 30px;
    }
    .edu-col3 h3, .edu-col4 h3{
    font-size: 20px;
    }
    .edu-col1, .edu-col2, .edu-col5, .edu-col6, .edu-col7, .edu-col8{
        flex-basis: 100%;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .about-row{
        flex-wrap: wrap;
        }
        .about-col1 img{
        width:200px;
        flex-basis: 100%;
        margin-bottom: 30px;
        }
        .about-col2 h3{
            flex-basis: 100%;
            font-size: 25px;
        }
        .about-col2 p{
            font-size: 15px;
        }
        .testimonial {
            padding: 0px 20px 0px 20px;
            margin: 0px 0px;
        }
        .testimonial h3{
            font-size: 25px;
        }
        .testimonial-row1, .testimonial-row2{
            flex-wrap: wrap;
        }
        .testimonial-col1, .testimonial-col2, .testimonial-col3, .testimonial-col4{
            flex-basis: 100%;
            margin-top: 20px;
        }
        .testimonialmini-col2, .testimonialmini-col4, .testimonialmini-col6, .testimonialmini-col8{
            font-size: 15px;
        }
        .testimonialmini-col2 blockquote{
            font-size: 15px;
        }
        .services h3{
            font-size: 25px;
        }
        .services-row{
            flex-wrap: wrap;
        }
        .service-col1, .service-col2, .service-col3{
            flex-basis: 100%;
            margin-top: 20px;
        }
        .blog{
            padding: 0px 0px;
            margin: 0px 0px;
        }
        .blog-row{
            flex-wrap: wrap;
            padding: 0px 0px;
        }
        .blog-col-1, .blog-col-2, .blog-col-3{
            flex-basis: 100%;
    }
    .contact{
        padding: 20px 20px;
    }
    .contact h3{
        font-size: 25px;
    }
    .contact-row{
        flex-wrap: wrap;
        display: 100%;
        padding:0px 0px;
    }
    .contact-col1, .contact-col2{
        flex-basis: 100%;
        margin-left: 0px;
        font-size: 15px;
        margin-top: 30px;
    }
    .contact form{
    margin: 0px 0px;
    padding: 0px 0px;
}
footer{
    margin: 0px 0px;
    padding: 0px 0px;
}
footer p{
    font-size: 10px;
}
.social-icon a {
    background: #585858;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #bac964;
    text-decoration: none;
    font-size: 15px;
    margin: 20px 10px 0px 10px;
}
}