* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.banner-section {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/morrison.jpg);
} .navbar li {
    display: inline;
    padding: 0px 30px;
}

.navbar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/*++++++++++++ menu++++++++ */
.menu-bar {
    text-align: center;
    padding-top: 30px;
}

/* ++++++++banner+++++++++ */
.banner-content {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
height: 100vh;
}

.banner-content h1 {
font-weight: 400;
font-size: 40px;
color: #ffffff;
}

.banner-content h2 {
font-weight: 900;
font-size: 60px;
color: #ffffff;
padding: 20px 0px;
}

.banner-content p {
font-weight: 100px;
font-size: 28px;
color: #fefffd;
letter-spacing: 5px;

}
.featured {
    padding: 60px 80px;
    text-align: center;
    background-color: #312f2f;
    color: #ffffff;
    font-weight: 400;
}

.featured h3 {
    font-weight: 100;
    font-size: 35px;
    padding-bottom: 30px;
}

.featured span {
    font-weight: 400;
}


.sample li {
    text-decoration: none;
    display: inline;
    padding: 20px 30px 30px 0px;
}

.sample li a {
    text-decoration: none;
    color: #109136;
    font-size: 20px;
    font-weight: 100;
}

.sample li a:hover {
    color: #eedc3a;
    transition: color .7s ease;
}